<% include header %>

<!-- Main Container -->
<div class="container">
	
	<div id="chart"></div>
	
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/lodash/4.15.0/lodash.min.js"></script>
		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/modules/drilldown.js"></script>
	<script type="text/javascript" src="asset/js/drilldown.js"></script>
</div> <!-- /container -->

<% include footer %>