<div class="footer">
    <footer>
        <div class="row">
            <img src="asset/images/HTML5White.png" 
          width="63" height="64" alt="HTML5 Powered" title="HTML5 Powered">
          <p>&copy; copyright 2016 AIT SRI Web Society</p>
          <p>Designed by AIT SRI</p>
        </div>
    </footer>
 </div> 

<!-- DEV -->
<script src="javascripts/highcharts.js"></script>
<script src="javascripts/highcharts-more.js"></script>

  <!-- All Javascript at the bottom of the page for faster page loading -->
    
  <!-- First try for the online version of jQuery-->
  <script src="https://code.jquery.com/jquery.js"></script>
  
  <!-- If no online access, fallback to our hardcoded version of jQuery -->
  <script>window.jQuery || document.write('<script src="includes/js/jquery-1.8.2.min.js"><\/script>')</script>
  
  <!-- Bootstrap JS -->
  <script src="asset/bootstrap/js/bootstrap.min.js"></script>
  
  <!-- Custom JS -->
  <script src="asset/includes/js/script.js"></script>
  
  </body>
</html>