<% include header %>

<!-- Main Container -->
<div class="container">
	
	<div id="chart"></div>

	<script type="text/javascript" src="asset/js/charts.js"></script>
</div> <!-- /container -->

<% include footer %>