<% include header %>

<!-- Main Container -->
<div class="container">
	
	<div id="chart"></div>
	
	<h1>Chart 2 page</h1>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/lodash/4.15.0/lodash.min.js"></script>
	<script type="text/javascript" src="asset/js/graph2.js"></script>
</div> <!-- /container -->

<% include footer %>